/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/yet-another-craft/js
/out
/.repl
*.log
/.env
/.cljs_rhino_repl/
/resources/.DS_Store
/resources/yet-another-craft/.DS_Store
/src/clj/.DS_Store
/resources/yet-another-craft/img/.DS_Store
/resources/yet-another-craft/css/site.min.css
