body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;

    margin: 0;
    color: #000;
}

a {
    text-decoration: none;
    color: #09f;
}

a:hover {
    text-decoration: underline;
}

.home-page {
    text-align: center;
}

.game-page {
    color: #fff;
}

.tile {
    position: absolute;
}

.blood-bath {
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('/img/blood-bath.jpg');
    background-size: 100% 100%;
}

.resources {
    position: fixed;
    right: 10px;
    top: 10px;
    text-align: right;
    color: lime;
}

.hp-bar {
    position: absolute;
    left: 0px;
    top: -3px;
    height: 3px;
    background: url('/img/reagent-hp.png') left top no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
}

.selection {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 64px;
    height: 64px;
    background: url('/img/reagent-selection.png') left top no-repeat;
    background-size: 100% 100%;
}

.entity {
    position: absolute;
}

.commands {
    position: absolute;
    right: -32px;
    top: 0px;
    z-index: 2;
}

.command-marine {
    background: url('/img/cmd-icons.png') left top no-repeat;
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.command-harvest {
    background: url('/img/cmd-icons.png') left top no-repeat;
    width: 32px;
    height: 32px;
    background-position: -180px 0px;
}

.command-centre {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background: url('/img/terran-building.png') left top no-repeat;
}

.marine {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 64px;
    height: 64px;
    background: url('/img/marine.png') left top no-repeat;
    z-index: 1;
}

.marine-die {
    background-position: -448px -832px;
    animation: marine-die 0.5s steps(8) 1;
    z-index: 0;
}

@keyframes marine-die {
    0% {
        background-position: 0px -832;
    }
    100% {
        background-position: -512px -832;
    }
}

.marine-run-0 {
    animation: marine-run-0 0.5s infinite steps(9);
}

@keyframes marine-run-0 {
    0% {
        background-position: 0px -256px;
    }
    100% {
        background-position: 0px -832px;
    }
}

.marine-run-1 {
    animation: marine-run-1 0.5s infinite steps(9);
}

@keyframes marine-run-1 {
    0% {
        background-position: -64px -256px;
    }
    100% {
        background-position: -64px -832px;
    }
}

.marine-run-2 {
    animation: marine-run-2 0.5s infinite steps(9);
}

@keyframes marine-run-2 {
    0% {
        background-position: -128px -256px;
    }
    100% {
        background-position: -128px -832px;
    }
}

.marine-run-3 {
    animation: marine-run-3 0.5s infinite steps(9);
}

@keyframes marine-run-3 {
    0% {
        background-position: -192px -256px;
    }
    100% {
        background-position: -192px -832px;
    }
}

.marine-run-4 {
    animation: marine-run-4 0.5s infinite steps(9);
}

@keyframes marine-run-4 {
    0% {
        background-position: -256px -256px;
    }
    100% {
        background-position: -256px -832px;
    }
}

.marine-run-5 {
    animation: marine-run-5 0.5s infinite steps(9);
}

@keyframes marine-run-5 {
    0% {
        background-position: -320px -256px;
    }
    100% {
        background-position: -320px -832px;
    }
}

.marine-run-6 {
    animation: marine-run-6 0.5s infinite steps(9);
}

@keyframes marine-run-6 {
    0% {
        background-position: -384px -256px;
    }
    100% {
        background-position: -384px -832px;
    }
}

.marine-run-7 {
    animation: marine-run-7 0.5s infinite steps(9);
}

@keyframes marine-run-7 {
    0% {
        background-position: -448px -256px;
    }
    100% {
        background-position: -448px -832px;
    }
}

.marine-run-8 {
    animation: marine-run-8 0.5s infinite steps(9);
}

@keyframes marine-run-8 {
    0% {
        background-position: -512px -256px;
    }
    100% {
        background-position: -512px -832px;
    }
}

.marine-run-9 {
    animation: marine-run-9 0.5s infinite steps(9);
}

@keyframes marine-run-9 {
    0% {
        background-position: -576px -256px;
    }
    100% {
        background-position: -576px -832px;
    }
}

.marine-run-10 {
    animation: marine-run-10 0.5s infinite steps(9);
}

@keyframes marine-run-10 {
    0% {
        background-position: -640px -256px;
    }
    100% {
        background-position: -640px -832px;
    }
}

.marine-run-11 {
    animation: marine-run-11 0.5s infinite steps(9);
}

@keyframes marine-run-11 {
    0% {
        background-position: -704px -256px;
    }
    100% {
        background-position: -704px -832px;
    }
}

.marine-run-12 {
    animation: marine-run-12 0.5s infinite steps(9);
}

@keyframes marine-run-12 {
    0% {
        background-position: -768px -256px;
    }
    100% {
        background-position: -768px -832px;
    }
}

.marine-run-13 {
    animation: marine-run-13 0.5s infinite steps(9);
}

@keyframes marine-run-13 {
    0% {
        background-position: -832px -256px;
    }
    100% {
        background-position: -832px -832px;
    }
}

.marine-run-14 {
    animation: marine-run-14 0.5s infinite steps(9);
}

@keyframes marine-run-14 {
    0% {
        background-position: -896px -256px;
    }
    100% {
        background-position: -896px -832px;
    }
}

.marine-run-15 {
    animation: marine-run-15 0.5s infinite steps(9);
}

@keyframes marine-run-15 {
    0% {
        background-position: -960px -256px;
    }
    100% {
        background-position: -960px -832px;
    }
}

.marine-run-16 {
    animation: marine-run-16 0.5s infinite steps(9);
}

@keyframes marine-run-16 {
    0% {
        background-position: -1024px -256px;
    }
    100% {
        background-position: -1024px -832px;
    }
}

.marine-run-17 {
    animation: marine-run-17 0.5s infinite steps(9);
}

@keyframes marine-run-17 {
    0% {
        background-position: -1088px -256px;
    }
    100% {
        background-position: -1088px -832px;
    }
}

.marine-run-18 {
    animation: marine-run-18 0.5s infinite steps(9);
}

@keyframes marine-run-18 {
    0% {
        background-position: 0px -256px;
    }
    100% {
        background-position: 0px -832px;
    }
}

.marine-shoot-0 {
    animation: marine-shoot-0 0.15s infinite steps(2);
}

@keyframes marine-shoot-0 {
    0% {
        background-position: 0px -128px;
    } 100% {
        background-position: 0px -256px;
    }
}

.marine-shoot-1 {
    animation: marine-shoot-1 0.15s infinite steps(2);
}

@keyframes marine-shoot-1 {
    0% {
        background-position: -64px -128px;
    } 100% {
        background-position: -64px -256px;
    }
}

.marine-shoot-2 {
    animation: marine-shoot-2 0.15s infinite steps(2);
}

@keyframes marine-shoot-2 {
    0% {
        background-position: -128px -128px;
    } 100% {
        background-position: -128px -256px;
    }
}

.marine-shoot-3 {
    animation: marine-shoot-3 0.15s infinite steps(2);
}

@keyframes marine-shoot-3 {
    0% {
        background-position: -192px -128px;
    } 100% {
        background-position: -192px -256px;
    }
}

.marine-shoot-4 {
    animation: marine-shoot-4 0.15s infinite steps(2);
}

@keyframes marine-shoot-4 {
    0% {
        background-position: -256px -128px;
    } 100% {
        background-position: -256px -256px;
    }
}

.marine-shoot-5 {
    animation: marine-shoot-5 0.15s infinite steps(2);
}

@keyframes marine-shoot-5 {
    0% {
        background-position: -320px -128px;
    } 100% {
        background-position: -320px -256px;
    }
}

.marine-shoot-6 {
    animation: marine-shoot-6 0.15s infinite steps(2);
}

@keyframes marine-shoot-6 {
    0% {
        background-position: -384px -128px;
    } 100% {
        background-position: -384px -256px;
    }
}

.marine-shoot-7 {
    animation: marine-shoot-7 0.15s infinite steps(2);
}

@keyframes marine-shoot-7 {
    0% {
        background-position: -448px -128px;
    } 100% {
        background-position: -448px -256px;
    }
}

.marine-shoot-8 {
    animation: marine-shoot-8 0.15s infinite steps(2);
}

@keyframes marine-shoot-8 {
    0% {
        background-position: -512px -128px;
    } 100% {
        background-position: -512px -256px;
    }
}

.marine-shoot-9 {
    animation: marine-shoot-9 0.15s infinite steps(2);
}

@keyframes marine-shoot-9 {
    0% {
        background-position: -576px -128px;
    } 100% {
        background-position: -576px -256px;
    }
}

.marine-shoot-10 {
    animation: marine-shoot-10 0.15s infinite steps(2);
}

@keyframes marine-shoot-10 {
    0% {
        background-position: -640px -128px;
    } 100% {
        background-position: -640px -256px;
    }
}

.marine-shoot-11 {
    animation: marine-shoot-11 0.15s infinite steps(2);
}

@keyframes marine-shoot-11 {
    0% {
        background-position: -704px -128px;
    } 100% {
        background-position: -704px -256px;
    }
}

.marine-shoot-12 {
    animation: marine-shoot-12 0.15s infinite steps(2);
}

@keyframes marine-shoot-12 {
    0% {
        background-position: -768px -128px;
    } 100% {
        background-position: -768px -256px;
    }
}

.marine-shoot-13 {
    animation: marine-shoot-13 0.15s infinite steps(2);
}

@keyframes marine-shoot-13 {
    0% {
        background-position: -832px -128px;
    } 100% {
        background-position: -832px -256px;
    }
}

.marine-shoot-14 {
    animation: marine-shoot-14 0.15s infinite steps(2);
}

@keyframes marine-shoot-14 {
    0% {
        background-position: -896px -128px;
    } 100% {
        background-position: -896px -256px;
    }
}

.marine-shoot-15 {
    animation: marine-shoot-15 0.15s infinite steps(2);
}

@keyframes marine-shoot-15 {
    0% {
        background-position: -960px -128px;
    } 100% {
        background-position: -960px -256px;
    }
}

.marine-shoot-16 {
    animation: marine-shoot-16 0.15s infinite steps(2);
}

@keyframes marine-shoot-16 {
    0% {
        background-position: -1024px -128px;
    } 100% {
        background-position: -1024px -256px;
    }
}

.marine-shoot-17 {
    animation: marine-shoot-17 0.15s infinite steps(2);
}

@keyframes marine-shoot-17 {
    0% {
        background-position: -1088px -128px;
    } 100% {
        background-position: -1088px -256px;
    }
}

.marine-shoot-18 {
    animation: marine-shoot-18 0.15s infinite steps(2);
}

@keyframes marine-shoot-18 {
    0% {
        background-position: 0px -128px;
    } 100% {
        background-position: 0px -256px;
    }
}
